<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RANDOm photo exchange</title>

        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/css/signin.css">
        <link rel="stylesheet" type="text/css" href="/css/signup.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="layout-wrapper">
            <div class="header">
                <h1>RANDOm photo exchange</h1>
                <?php if (User::isAuthenticated()): ?>
                    <?=User::getUsername()?><br/><a href="/auth/signout">exit</a>
                <?php endif; ?>
            </div>
            <div class="content">
                <?php if (isset($templateName)): ?>
                    <?php include($templateName) ?>
                <?php elseif (!User::isAuthenticated()): ?>
                    <?php include('signin.html') ?>
                <?php else: ?>
                    <?php include('main.html') ?>
                <?php endif; ?>
            </div>
            <div class="footer"><span>© 2015 Maxim Korshunov</span></div>
        </div>
    </body>
</html>