<form class="signin" action="/auth/signin" method="post">
    <div class="control">
        Username (email): <br/>
        <?php
            echo "<input type='text' placeholder='example@domain.com' name='username' value='".$data['username']."'/>"
        ?>
    </div>
    <div class="control">
        Password: <br/>
        <input type="password" name="password" />
    </div>
    <div class="control">
        <input type="submit" value="Sign in"> or <a href="/auth/signup">sign up</a>
    </div>
    <div class="control">
        <?= get_val($data, 'message') ?>
    </div>
</form>