<form class="signup" action="/auth/signup" method="post">
    <div class="control">
        Username (email): <br/>
        <input type="text" placeholder="example@domain.com" name="username"/>
    </div>
    <div class="control">
        Password: <br/>
        <input type="password" name="password"/>
    </div>
    <div class="control">
        Repeat password: <br/>
        <input type="password" name="password"/>
    </div>
    <div class="control">
        <input type="submit" value="Sign up"> or <a href="/auth/signin">sign in</a>
    </div>
</form>