<form class="signup" action="/auth/signup" method="post">
    <div class="control">
        Username (email): <br/>
        <?php
            echo "<input type='text' placeholder='example@domain.com' name='username' value='".$data['username']."'/>"
        ?>
    </div>
    <div class="control">
        Password: <br/>
        <input type="password" name="password"/>
    </div>
    <div class="control">
        Repeat password: <br/>
        <input type="password" name="password_confirm"/>
    </div>
    <div class="control">
        <input type="submit" value="Sign up"> or <a href="/auth">sign in</a>
    </div>
    <div class="control">
        <?= get_val($data, 'message') ?>
    </div>
</form>